h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.category-list-container {
    /* background: rgb(229, 227, 227); */
    display: flex;
    justify-content: center;
    padding-top: 30px;
}